:root.win[data-animation="1"] #route {
  animation: 5s infinite normal stroke-dash-array;
}

:root.win[data-animation="1"] #walls {
  animation: 10s infinite normal stroke-dash-array;
}

@keyframes stroke-dash-array {
  from {
    stroke-dashoffset: 0;
    stroke-dasharray: 5 0;
  }

  50% {
    stroke-dasharray: 0 5;
  }

  to {
    stroke-dashoffset: 5;
    stroke-dasharray: 5 0;
  }
}

:root.win[data-animation="2"] #route {
  animation: 5s infinite alternate fade-to-transparent;
}

:root.win[data-animation="2"] #walls {
  animation: 5s linear calc(-5s / 4) infinite alternate expand-to-0-99;
}

@keyframes expand-to-0-99 {
  from {
    stroke-width: 0.05;
  }

  to {
    stroke-width: 0.98;
  }
}
