dialog {
  padding: 0;
}

/* Have the child of the dialog take up all of it, so that clicks outside of it
are easier to detect. */
dialog > div {
  padding: 1rem;
  border: 0;
  margin: 0;
}

#optionsDialog form {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1em;
}

#optionsDialog form label {
  text-align: right;
}

#optionsDialog form input[type="submit"] {
  grid-column: 2;
}
