:root {
  font-family: sans-serif;
  --main-highlight-color: hsl(120 100% 50%);
  --subtle-highlight-color: color-mix(
    in srgb,
    var(--main-highlight-color) 30%,
    transparent
  );
  --main-text-color: black;
  --main-background-color: white;
  --input-background-color: color-mix(
    in srgb,
    var(--main-highlight-color) 5%,
    var(--main-background-color)
  );
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  color-scheme: light dark;
  accent-color: var(--main-highlight-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: white;
    --main-background-color: black;
    --input-background-color: color-mix(
      in srgb,
      var(--main-highlight-color) 15%,
      var(--main-background-color)
    );
  }
}

::selection {
  background-color: var(--main-highlight-color);
}

body {
  margin: 0;
}

header {
  background-color: var(--subtle-highlight-color);
  padding: 1rem 1rem 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: baseline;
}

h1 {
  margin: 0;
}

nav > button,
nav > a {
  background: none;
  border: none;
  text-decoration-line: underline;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
}

#maze {
  width: 100%;
}

dialog {
  padding: 0;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  border-color: var(--main-highlight-color);
  border-width: thin;
}

dialog::backdrop {
  background-color: color-mix(
    in srgb,
    var(--main-background-color) 10%,
    transparent
  );
}

/* Have the child of the dialog take up all of it, so that clicks outside of it
are easier to detect. */
dialog > div {
  padding: 1rem;
  border: 0;
  margin: 0;
}

#optionsDialog form {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1em;
}

#optionsDialog form label {
  text-align: right;
}

#optionsDialog form label::after {
  content: ":";
}

#optionsDialog form input[type="submit"] {
  grid-column: 2;
}

select,
input {
  border-radius: 0;
  border-style: solid;
  border-color: var(--subtle-highlight-color);
  background-color: var(--input-background-color);
  font-size: 1em;
}
